@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #3b82f6;
  }

  .dark {
    --background: #09090b;
    --foreground: #ffffff;
    --primary: #60a5fa;
  }
}