@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --backgroundl: #0841ec;
    --foreground: #000000;
    --primary: #3b82f6;
  }

  .dark:root {
    --backgroundl: #6ae41e;
    --foreground: #d32c2c;
    --primary: #60a5fa;
  }
}